*{
    margin: 0;
    padding: 0;
}
body{

    overflow-x: hidden; 
    cursor: context-menu;
    background: white;
    color: black;
    font-family:'Comfortaa', cursive;
    transition: 0.5s;
    /*font-family: 'Megrim', cursive;*/
}
::-webkit-scrollbar{

    width: 4px;
}
::-webkit-scrollbar-thumb{
    
    border-radius: 10px;
    background: linear-gradient(180deg, #e5ff00, #b9fc00, #2afc00);
    
}
::-webkit-scrollbar-thumb:hover{
    
    background: linear-gradient(180deg, #bbcf00, #99d100, #22ca00);

    
}
::-webkit-scrollbar-track{

    background: white
    
}


                            /*Home*/



.kreisOben img{

    position: absolute;
    width: 550px;
    top: 11%;
    left: 13%;

}
#oben{

    position: absolute;
    top: 0;
    width: 1px;
}
.willkommen{

    position: absolute;
    width: 400px;
    height: 50px;
    top: 37%;
    left: 10.5%;
    font-size: 20px;
}
.portfolio2{

    position: absolute;
    width: 400px;
    height: 50px;
    top: 1.7%;
    left: 64.4%;
    font-size: 20px;
    background: -webkit-linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.mein{

    position: absolute;
    width: 700px;
    height: 100px;
    top: 42%;
    left: 10%;
    font-size: 80px;
    
}
.name{

    position: absolute;
    width: 500px;
    height: 100px;
    top: 90%;
    left: 18%;
    font-size: 80px;
    background: -webkit-linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.buttonZuKontakt a{

    position: absolute;
    width: 210px;
    height: 50px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    top: 70%;
    left: 15%;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 2.5;
    font-size: 20px;
    z-index: 1;
}
.buttonZuKontakt a:hover{

    background: linear-gradient(260deg, #c4da00, #a6e200, #25dd00);;
}
.portfolio{

    position: absolute;
    top: 45%;
    right: -18%;
    transform: rotate(270deg);
    font-size: 150px;
    color: rgb(226, 226, 226);
}
.foto img{

    position: absolute;
    width: 350px;
    right: 25%;
    top: 0%;
    transform: rotate(-20deg);
    
    
}
.kreis img{

    position: absolute;
    right: -7%;
    top: 15%;
    width: 1000px;
    transform: rotate(0deg);
}
.profil{

    position: absolute;
    top: 28%;
    right: 4%;
    width: 600px;
    height: 450px;
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(20deg);
}
.mouseStrich{

    position: absolute;
    width: 1px;
    height: 130px;
    background: #ffffff;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.mouseStrichAni{

    position: absolute;
    width: 100%;
    height: 450%;
    background: #9c9c9c;
    animation: mouseFrame 2.2s ease-out infinite;

}
@keyframes mouseFrame{

    0%{
        top: -450%;

    }
    100%{
        top: 300%;
        
    }
}


                            /*überMich*/


#uberMichLink{

    position: absolute;
    width: 1px;
    top: 100%;
}
.grauerKasten{

    position: absolute;
    top: 115%;
    background: rgb(245, 245, 245);
    width: 100%;
    height: 60%;
}
.uberMich{

    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
}
.uberMich2{

    position: absolute;
    top: 129%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    color: rgb(240, 240, 240);
}
.uberMichT{

    position: absolute;
    width: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 150%;
    color: rgb(146, 146, 146);
    line-height: 1.4;
    text-align: center;
}
.strichUber{

    position: absolute;
    width: 250px;
    height: 1.5px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
}


                            /*Lebenslauf*/


#lebenslaufLink{

    position: absolute;
    width: 1px;
    top: 185%;
}
.lebenslauf{

    position: absolute;
    top: 210%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
}
.lebenslauf2{

    position: absolute;
    top: 209%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    color: rgb(240, 240, 240);
}
.schule0{

    position: absolute;
    top: 233%;
    left: 39.5%;
    background: none;
    width: 200px;
    height: 25px;
    transform: translate(-50%, -50%);

}
.schuleIcon{

    position: absolute;
    top: 0;
    left: 0;
    font-size: 27px;
    color:#caff3a;
    cursor: pointer;

}
.schule{

    position: absolute;
    top: 0;
    right: 0;
    font-size: 23px;
    color: #caff3a;
    border: none;
    font-family:'Comfortaa', cursive;
    background: none;
    cursor: pointer;
    line-height: 1.5;
    background: none;
    width: 200px;
    text-align: end;

}
.beruf0{

    position: absolute;
    top: 233%;
    left: 60%;
    background: none;
    width: 233px;
    height: 25px;
    transform: translate(-50%, -50%);

}
.berufIcon{

    position: absolute;
    top: 0;
    left: 0;
    font-size: 27px;
    color: rgb(212, 212, 212);
    cursor: pointer;
}
.beruf{

    position: absolute;
    top: 0;
    right: 0;
    font-size: 23px;
    color: gray;
    border: none;
    background: none;
    font-family:'Comfortaa', cursive;
    cursor: pointer;
    line-height: 1.5;
    width: 230px;
    text-align: end;
}
button.selected{  
    
    background: -webkit-linear-gradient(250deg, #e5ff00, #b9fc00, #2afc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.schulbildungbox{

    position: absolute;
    top: 269%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 335px;
  
}
.baum{

    position: absolute;
    top: 273%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 400px;

}
.zielstatt{

    position: absolute;
    width: 200px;
    left: 7%;
    font-weight: bold;
    transition: 0.5s;
}
.kalender1{

    position: absolute;
    top: 18.5%;
    left: 10%;
    color: rgb(212, 212, 212);
}
.jahr1{

    position: absolute;
    top: 19.3%;
    left: 14%;
    font-size: 14px;
    color: rgb(196, 196, 196);
    width: 125px;
    height: 20px;
    background: white;
}
.jahr1beruf{

    position: absolute;
    top: 19.5%;
    left: 14%;
    font-size: 14px;
    color: rgb(196, 196, 196);
  



}
.samberger{

    position: absolute;
    width: 200px;
    right: 3%;
    top: 32%;
    font-weight: bold;
}
.kalender2{

    position: absolute;
    top: 50.5%;
    right: 30%;
    color: rgb(212, 212, 212);
}
.jahr2{

    position: absolute;
    top: 51%;
    right: 11.5%;
    font-size: 14px;
    color: rgb(196, 196, 196);
    width: 100px;
    height: 20px;
    background: white;
}
.jahr2beruf{

    position: absolute;
    top: 51%;
    right: 17%;
    font-size: 14px;
    color: rgb(196, 196, 196);
  



}
.weis{

    position: absolute;
    width: 100px;
    height: 20px;
    background: white;
    top: 56%;
    right: 15%;
}
.mariaProbst{

    position: absolute;
    width: 200px;
    left: 15%;
    top: 63%;
    font-weight: bold;
}
.kalender3{

    position: absolute;
    top: 78%;
    left: 18%;
    color: rgb(212, 212, 212);
}
.jahr3{

    position: absolute;
    top: 79%;
    left: 22%;
    font-size: 14px;
    color: rgb(196, 196, 196);
}
.boschetsrieder{

    position: absolute;
    width: 200px;
    right: 3%;
    top: 94%;
    font-weight: bold;
}
.kalender4{

    position: absolute;
    top: 108%;
    right: 30%;
    color: rgb(212, 212, 212);
}
.jahr4{

    position: absolute;
    top: 109%;
    right: 16%;
    font-size: 14px;
    color: rgb(196, 196, 196);
}

.strich1{

    position: absolute;
    width: 150px;
    height: 3px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    top: 16%;
    left: 0%;
    transform: rotate(45deg);
    border-radius: 20px;
}
.strich2{

    position: absolute;
    width: 150px;
    height: 3px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    top: 42%;
    left: 0%;
    transform: rotate(-45deg);
    border-radius: 20px;
}
.strich3{

    position: absolute;
    width: 150px;
    height: 3px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    top: 68%;
    left: 0%;
    transform: rotate(45deg);
    border-radius: 20px;
}
.kreis1{

    position: absolute;
    top: 0%;
    left: 5%;
    background: #2afc00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.kreis2{

    position: absolute;
    top: 27%;
    right: 5%;
    background: #e5ff00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.kreis3{

    position: absolute;
    top: 53%;
    left: 5%;
    background: #2afc00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.kreis4{

    position: absolute;
    top: 79%;
    right: 5%;
    background: #e5ff00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


                            /*Anschreiben*/


#anschreibenLink{

    position: absolute;
    width: 1px;
    top: 305%;
}
.anschreiben{

    position: absolute;
    top: 330%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
}
.anschreiben2{

    position: absolute;
    top: 329%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    color: rgb(240, 240, 240);
    width: 70%;
    text-align: center;
}
.anschreibenText{

    position: absolute;
    width: 50%;
    top: 377%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(146, 146, 146);
    line-height: 1.4;
}
                            /*Contact*/
#contactLink{

    position: absolute;
    width: 1px;
    top: 420%;
}
.contact{

    position: absolute;
    top: 440%;
    width: 100%;
    height: 800px;
    background: none;
}
.kontaktierMich{

    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
}
.kontaktierMich2{

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    color: rgb(240, 240, 240);
    width: 70%;
    text-align: center;
}
.tel{

    position: absolute;
    top: 23%;
    left: 30%;
    color: rgb(146, 146, 146);
    transform: translate(-50%, -50%);

}
.telefon{

    position: absolute;
    top: 20%;
    left: 30%;
    font-weight: bold;
    width: 110px;
    text-align: center;
    transform: translate(-50%, -50%);
}
.mail{

    position: absolute;
    top: 23%;
    left: 50%;
    color: rgb(146, 146, 146);
    transform: translate(-50%, -50%);
}
.email{

    position: absolute;
    top: 20%;
    left: 50%;
    font-weight: bold;
    width: 180px;
    text-align: center;
    transform: translate(-50%, -50%);
}
.ort{

    position: absolute;
    top: 20%;
    left: 70%;
    font-weight: bold;
    width: 80px;
    text-align: center;
    transform: translate(-50%, -50%);
}
.muc{

    position: absolute;
    top: 23%;
    left: 70%;
    color: rgb(146, 146, 146);
    transform: translate(-50%, -50%);
}
.nameC{

    position: absolute;
    top: 35%;
    left: 36%;
    border: none;
    background:rgb(240, 240, 240);
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border-radius: 8px;
    outline: none;
}
.vornameC{

    position: absolute;
    top: 35%;
    left: 52%;
    border: none;
    background:rgb(240, 240, 240);
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border-radius: 8px;
    outline: none;
}
.firmaC{

    position: absolute;
    top: 42%;
    left: 36%;
    border: none;
    background:rgb(240, 240, 240);
    width: 445px;
    height: 30px;
    padding-left: 10px;
    border-radius: 8px;
    outline: none;
}
.nachrichtC{

    position: absolute;
    top: 49%;
    left: 36%;
    border: none;
    background:rgb(240, 240, 240);
    width: 445px;
    height: 100px;
    padding-left: 10px;
    border-radius: 8px;
    outline: none;
}
.senden{

    position: absolute;
    width: 200px;
    height: 50px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    border-radius: 50px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    line-height: 2.5;
    color: white;
    text-decoration: none;

}


                            /*Footer*/


.footer{

    position: absolute;
    width: 100%;
    height: 300px;
    background: transparent;
    top: 535%;
}
.footerRand{

    position: absolute;
    width: 95%;
    height: 300px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    top: 535%;
    border-top-right-radius: 50px;
}
.logoNameFooter{

    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
}
.linkedIn{

    position: absolute;
    font-size: 25px;
    top: 45%;
    left: 48%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.15s;
}
.linkedIn:hover{

    color: white;
}
.github{

    position: absolute;
    font-size: 25px;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.15s;
}
.github:hover{

    color: white;
}
.copyIcon{

    position: absolute;
    font-size: 15px;
    top: 0;
    left: 0;
    
}
.copy{

    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    text-align: end;
}
.FooterArrowAusen{

    position: absolute;
    top: 565%;
    left: 97.5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: none;
    transform: translate(-50%, -50%);
}
.FooterArrowInnen1{

    position: absolute;
    top: 50%;
    left: 41.5%;
    width: 30px;
    height: 1.5px;
    transform: rotate(45deg);
    background: black;
    border-radius: 100px;
}
.FooterArrowInnen2{

    position: absolute;
    top: 50%;
    left: 0%;
    width: 30px;
    height: 1.5px;
    transform: rotate(135deg);
    background: black;
    border-radius: 100px;
}


                            /*Nav*/


.navbar{

    position: fixed;
    top: 0;
    background: white;
    top: 0;
    width: 100%;
    height: 10%;
    transition: 0.25s;
    z-index: 2;
}
.navbarAni{

    box-shadow: 0px 1px 10px 1px rgb(224, 224, 224);

}
.logoName{

    position:absolute;
    top: 40%;
    left: 5%;
    font-size: 25px;
}
ul{

    position: absolute;
    top: 65%;
    left: 52%;
    transform: translate(-50%, -50%);
   
 

}
ul li{

    display: inline-block;
    padding-right: 40px;
  
}
ul li a{

    color: black;
    text-decoration: none;
    position: relative;
}
.ul li{

    color: greenyellow;
    
}
ul li a::after{

    content: "";
    position: absolute;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -15.5px;
    transition: 0.3s;

}
ul li a:hover:after{

    width: 100%;
    

}
ul li a:hover{

    color: grey;
}
.buttonZuKontaktNav a{

    position: absolute;
    width: 190px;
    height: 35px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    top: 35%;
    right: 5%;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 2.2;
    font-size: 17px;
    font-weight: bold;
}
.buttonZuKontaktNav a:hover{

    background: linear-gradient(260deg, #c4da00, #a6e200, #25dd00);;
}