*{
    margin: 0;
    padding: 0;
}
body{

    overflow-x: hidden; 
    cursor: context-menu;
    background: white;
    color: black;
    font-family:'Comfortaa', cursive;
    transition: 0.5s;
    /*font-family: 'Megrim', cursive;*/
}
::-webkit-scrollbar{

    width: 4px;
}
::-webkit-scrollbar-thumb{
    
    border-radius: 10px;
    background: linear-gradient(180deg, #e5ff00, #b9fc00, #2afc00);
    
}
::-webkit-scrollbar-thumb:hover{
    
    background: linear-gradient(180deg, #bbcf00, #99d100, #22ca00);

    
}
::-webkit-scrollbar-track{

    background: white
    
}


                            /*Home*/



.kreisOben img{

    position: absolute;
    width: 550px;
    top: 11%;
    left: 13%;

}
#oben{

    position: absolute;
    top: 0;
    width: 1px;
}
.willkommen{

    position: absolute;
    width: 400px;
    height: 50px;
    top: 37%;
    left: 10.5%;
    font-size: 20px;
}
.portfolio2{

    position: absolute;
    width: 400px;
    height: 50px;
    top: 1.7%;
    left: 64.4%;
    font-size: 20px;
    background: -webkit-linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.mein{

    position: absolute;
    width: 700px;
    height: 100px;
    top: 42%;
    left: 10%;
    font-size: 80px;
    
}
.name{

    position: absolute;
    width: 500px;
    height: 100px;
    top: 90%;
    left: 18%;
    font-size: 80px;
    background: -webkit-linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.buttonZuKontakt a{

    position: absolute;
    width: 210px;
    height: 50px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    top: 70%;
    left: 15%;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 2.5;
    font-size: 20px;
    z-index: 1;
}
.buttonZuKontakt a:hover{

    background: linear-gradient(260deg, #c4da00, #a6e200, #25dd00);;
}
.portfolio{

    position: absolute;
    top: 45%;
    right: -18%;
    transform: rotate(270deg);
    font-size: 150px;
    color: rgb(226, 226, 226);
}
.foto img{

    position: absolute;
    width: 350px;
    right: 5%;
    top: 10%;
    
    
}
.profil{

    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: rgb(250, 250, 250);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 50px 10px #bbff00;
    border: 2px solid rgb(255, 255, 255);
    animation: pol 2s ease-in  ; 
}
@keyframes pol{

    0%{
        box-shadow: 0px 0px 0px 0px #bbff00;

    }
    50%{
        box-shadow: 0px 0px 200px 30px #bbff00;

    }
    100%{
        box-shadow: 0px 0px 50px 10px #bbff00;

    }

}

.mouseStrich{

    position: absolute;
    width: 1px;
    height: 130px;
    background: #ffffff;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.mouseStrichAni{

    position: absolute;
    width: 100%;
    height: 450%;
    background: #9c9c9c;
    animation: mouseFrame 2.2s ease-out infinite;

}
@keyframes mouseFrame{

    0%{
        top: -450%;

    }
    100%{
        top: 300%;
        
    }
}


                            /*überMich*/


#uberMichLink{

    position: absolute;
    width: 1px;
    top: 100%;
}
.grauerKasten{

    position: absolute;
    top: 115%;
    background: rgb(245, 245, 245);
    width: 100%;
    height: 60%;
}
.uberMich{

    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
}
.uberMich2{

    position: absolute;
    top: 129%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    color: rgb(240, 240, 240);
}
.uberMichT{

    position: absolute;
    width: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 150%;
    color: rgb(146, 146, 146);
    line-height: 1.4;
    text-align: center;
}
.strichUber{

    position: absolute;
    width: 0px;
    height: 1.5px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}
.strichUberAni{

    width: 250px;

}


                            /*Lebenslauf*/


#lebenslaufLink{

    position: absolute;
    width: 1px;
    top: 185%;
}
.lebenslauf{

    position: absolute;
    top: 210%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
}
.lebenslauf2{

    position: absolute;
    top: 209%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    color: rgb(240, 240, 240);
}
.schule0{

    position: absolute;
    top: 233%;
    left: 39.5%;
    background: none;
    width: 200px;
    height: 25px;
    transform: translate(-50%, -50%);

}
.schuleIcon{

    position: absolute;
    top: 0;
    left: 0;
    font-size: 27px;
    color:#caff3a;
    cursor: pointer;

}
.schule{

    position: absolute;
    top: 0;
    right: 0;
    font-size: 23px;
    color: #caff3a;
    border: none;
    font-family:'Comfortaa', cursive;
    background: none;
    cursor: pointer;
    line-height: 1.5;
    background: none;
    width: 200px;
    text-align: end;

}
.beruf0{

    position: absolute;
    top: 233%;
    left: 60%;
    background: none;
    width: 233px;
    height: 25px;
    transform: translate(-50%, -50%);

}
.berufIcon{

    position: absolute;
    top: 0;
    left: 0;
    font-size: 27px;
    color: rgb(212, 212, 212);
    cursor: pointer;
}
.beruf{

    position: absolute;
    top: 0;
    right: 0;
    font-size: 23px;
    color: gray;
    border: none;
    background: none;
    font-family:'Comfortaa', cursive;
    cursor: pointer;
    line-height: 1.5;
    width: 230px;
    text-align: end;
}
button.selected{  
    
    background: -webkit-linear-gradient(250deg, #e5ff00, #b9fc00, #2afc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.schulbildungbox{

    position: absolute;
    top: 269%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 335px;
  
}
.baum{

    position: absolute;
    top: 273%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 400px;

}
.zielstatt{

    position: absolute;
    width: 200px;
    left: 7%;
    font-weight: bold;
    transition: 0.5s;
}
.kalender1{

    position: absolute;
    top: 18.5%;
    left: 10%;
    color: rgb(212, 212, 212);
}
.jahr1{

    position: absolute;
    top: 19.3%;
    left: 14%;
    font-size: 14px;
    color: rgb(196, 196, 196);
    width: 125px;
    height: 20px;
    background: white;
}
.jahr1beruf{

    position: absolute;
    top: 19.5%;
    left: 14%;
    font-size: 14px;
    color: rgb(196, 196, 196);
  



}
.samberger{

    position: absolute;
    width: 200px;
    right: 3%;
    top: 32%;
    font-weight: bold;
}
.kalender2{

    position: absolute;
    top: 50.5%;
    right: 30%;
    color: rgb(212, 212, 212);
}
.jahr2{

    position: absolute;
    top: 51%;
    right: 11.5%;
    font-size: 14px;
    color: rgb(196, 196, 196);
    width: 100px;
    height: 20px;
    background: white;
}
.jahr2beruf{

    position: absolute;
    top: 51%;
    right: 17%;
    font-size: 14px;
    color: rgb(196, 196, 196);
  



}
.weis{

    position: absolute;
    width: 100px;
    height: 20px;
    background: white;
    top: 56%;
    right: 15%;
}
.mariaProbst{

    position: absolute;
    width: 200px;
    left: 15%;
    top: 63%;
    font-weight: bold;
}
.kalender3{

    position: absolute;
    top: 78%;
    left: 18%;
    color: rgb(212, 212, 212);
}
.jahr3{

    position: absolute;
    top: 79%;
    left: 22%;
    font-size: 14px;
    color: rgb(196, 196, 196);
}
.boschetsrieder{

    position: absolute;
    width: 200px;
    right: 3%;
    top: 94%;
    font-weight: bold;
}
.kalender4{

    position: absolute;
    top: 108%;
    right: 30%;
    color: rgb(212, 212, 212);
}
.jahr4{

    position: absolute;
    top: 109%;
    right: 16%;
    font-size: 14px;
    color: rgb(196, 196, 196);
}

.strich1{

    position: absolute;
    width: 0px;
    height: 3px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    top: -2%;
    left: 0%;
    transform: rotate(45deg);
    border-radius: 20px;
    transition: 0.4s;
}
.strich1Ani{

    width: 150px;
    top: 16%;
}
.strich2{

    position: absolute;
    width: 0px;
    height: 3px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    top: 60%;
    left: 0%;
    transform: rotate(-45deg);
    border-radius: 20px;
    transition: 0.4s;
}
.strich2Ani{

    width: 150px;
    top: 42%;
}
.strich3{

    position: absolute;
    width: 0px;
    height: 3px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    top: 50%;
    left: 0%;
    transform: rotate(45deg);
    border-radius: 20px;
    transition: 0.4s;
}
.strich3Ani{

    width: 150px;
    top: 68%;
}
.kreis1{

    position: absolute;
    top: 0%;
    left: 5%;
    background: #2afc00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.kreis2{

    position: absolute;
    top: 27%;
    right: 5%;
    background: #e5ff00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.kreis3{

    position: absolute;
    top: 53%;
    left: 5%;
    background: #2afc00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.kreis4{

    position: absolute;
    top: 79%;
    right: 5%;
    background: #e5ff00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.kenntnisseGrau{

    position: absolute;
    width: 100%;
    height: 80%;
    background: rgb(245, 245, 245);
    top: 310%;
}
.kenntnisse{

    position: absolute;
    width: 100%;
    text-align: center;
    top: 315%;
    font-size: 25px;
    font-weight: bold;
}

.edvKasten{

    position: absolute;
    width: 700px;
    height: 150px;
    top: 340%;
    background: none;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.msOfficeKasten{

    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 25px;
    border: 1px solid rgb(231, 231, 231);
    
}
.msOfficeProzent{

    position: absolute;
    text-align: center;
    color: white;
    font-size: 50px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    background: -webkit-linear-gradient(260deg, rgb(156, 255, 209), rgb(0, 255, 136), rgb(0, 116, 62));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.msOffice{

    position: absolute;
    text-align: center;
    color: black;
    font-size: 15px;
    width: 100%;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    
}

.htmlKasten{

    position: absolute;
    left: 26%;
    top: 0;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 25px;
    transition: 0.5s;
    overflow: hidden;
}
.htmlKasten2{

    position: absolute;
    left: -100%;
    top: 0;
    width: 150px;
    height: 150px;
    background: linear-gradient(260deg, rgb(255, 126, 126), rgb(255, 60, 60), rgb(250, 0, 0));
    transition: 0.5s;
    
}
.htmlKasten2Ani{

    left: 0%;
}
.htmlProzent{

    position: absolute;
    text-align: center;
    font-size: 50px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: black;
}
.html{

    position: absolute;
    text-align: center;
    font-size: 15px;
    width: 100%;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: black;
}

.cssKasten{

    position: absolute;
    right: 26%;
    top: 0;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 25px;
    border: 1px solid rgb(231, 231, 231);
}
.cssProzent{

    position: absolute;
    text-align: center;
    font-size: 50px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    background: -webkit-linear-gradient(260deg, rgb(255, 205, 243),rgb(225, 0, 255), rgb(66, 0, 75));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.css{

    position: absolute;
    text-align: center;
    color: black;
    font-size: 15px;
    width: 100%;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    font-weight: bold;

}

.javaKasten{

    position: absolute;
    right: 0%;
    top: 0;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 25px;
    overflow: hidden;
}
.javaProzent{

    position: absolute;
    text-align: center;
    color: black;
    font-size: 50px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
.java{

    position: absolute;
    text-align: center;
    color: black;
    font-size: 15px;
    width: 100%;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    font-weight: bold;

}
.javaKasten2{

    position: absolute;
    right: 100%;
    top: 0;
    width: 150px;
    height: 150px;
    background: linear-gradient(260deg, rgb(170, 204, 255), rgb(43, 128, 255), rgb(0, 102, 255));
    transition: 0.5s;
    
}
.javaKasten2Ani{

    right: 0%;
}
.sprachen{

    position: absolute;
    width: 50%;
    height: 30%;
    top: 375%;
    background: none;
    left: 50%;
    transform: translate(-50%, -50%);
 

}
.englisch{

    position: absolute;
    left: 0;
    top: 5%;

}
.englischBalken{

    position: absolute;
    top: 10%;
    width: 0%;
    height: 3px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    left: 15%;
    border-radius: 200px;
    transition: 0.7s;
}
.englischBalkenAni{

    width: 35%;

}
.englischKenntnisse{

    position: absolute;
    right: -8%;
    top: 5%;

}
.deutsch{

    position: absolute;
    left: 0;
    top: 35%;

}
.deutschBalken{

    position: absolute;
    top: 40%;
    width: 0%;
    height: 3px;
    background:linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    left: 15%;
    border-radius: 200px;
    transition: 0.7s;
}
.deutschBalkenAni{

    width: 70%;
}
.deutschKenntnisse{

    position: absolute;
    right: -8%;
    top: 35%;

}
.türkisch{

    position: absolute;
    left: 0;
    top: 65%;

}
.türkischBalken{

    position: absolute;
    top: 70%;
    width: 0%;
    height: 3px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    left: 15%;
    border-radius: 200px;
    transition: 0.7s;
}
.türkischBalkenAni{

    width: 60%;
}
.türkischKenntnisse{

    position: absolute;
    right: -8%;
    top: 65%;

}

                            /*Anschreiben*/


#anschreibenLink{

    position: absolute;
    width: 1px;
    top: 390%;
}
.anschreiben{

    position: absolute;
    top: 415%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
}
.anschreiben2{

    position: absolute;
    top: 414%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    color: rgb(240, 240, 240);
    width: 70%;
    text-align: center;
}
.anschreibenText{

    position: absolute;
    width: 50%;
    top: 460%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(146, 146, 146);
    line-height: 1.4;
}
                            /*Contact*/
#contactLink{

    position: absolute;
    width: 1px;
    top: 490%;
}
.contact{

    position: absolute;
    top: 510%;
    width: 100%;
    height: 800px;
    background: none;
}
.kontaktierMich{

    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
}
.kontaktierMich2{

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    color: rgb(240, 240, 240);
    width: 70%;
    text-align: center;
}
.tel{

    position: absolute;
    top: 23%;
    left: 30%;
    color: rgb(146, 146, 146);
    transform: translate(-50%, -50%);

}
.telefon{

    position: absolute;
    top: 20%;
    left: 30%;
    font-weight: bold;
    width: 110px;
    text-align: center;
    transform: translate(-50%, -50%);
}
.mail{

    position: absolute;
    top: 23%;
    left: 50%;
    color: rgb(146, 146, 146);
    transform: translate(-50%, -50%);
}
.email{

    position: absolute;
    top: 20%;
    left: 50%;
    font-weight: bold;
    width: 180px;
    text-align: center;
    transform: translate(-50%, -50%);
}
.ort{

    position: absolute;
    top: 20%;
    left: 70%;
    font-weight: bold;
    width: 80px;
    text-align: center;
    transform: translate(-50%, -50%);
}
.muc{

    position: absolute;
    top: 23%;
    left: 70%;
    color: rgb(146, 146, 146);
    transform: translate(-50%, -50%);
}
.nameC{

    position: absolute;
    top: 35%;
    left: 36%;
    border: none;
    background:rgb(240, 240, 240);
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border-radius: 8px;
    outline: none;
}
.vornameC{

    position: absolute;
    top: 35%;
    left: 52%;
    border: none;
    background:rgb(240, 240, 240);
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border-radius: 8px;
    outline: none;
}
.firmaC{

    position: absolute;
    top: 42%;
    left: 36%;
    border: none;
    background:rgb(240, 240, 240);
    width: 445px;
    height: 30px;
    padding-left: 10px;
    border-radius: 8px;
    outline: none;
}
.nachrichtC{

    position: absolute;
    top: 49%;
    left: 36%;
    border: none;
    background:rgb(240, 240, 240);
    width: 445px;
    height: 100px;
    padding-left: 10px;
    border-radius: 8px;
    outline: none;
}
.senden{

    position: absolute;
    width: 200px;
    height: 50px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    border-radius: 50px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    line-height: 2.5;
    color: white;
    text-decoration: none;

}


                            /*Footer*/


.footer{

    position: absolute;
    width: 100%;
    height: 300px;
    background: transparent;
    top: 600%;
}
.footerRand{

    position: absolute;
    width: 95%;
    height: 300px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    top: 600%;
    border-top-right-radius: 50px;
}
.logoNameFooter{

    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
}
.linkedIn{

    position: absolute;
    font-size: 25px;
    top: 45%;
    left: 48%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.15s;
}
.linkedIn:hover{

    color: white;
}
.github{

    position: absolute;
    font-size: 25px;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.15s;
}
.github:hover{

    color: white;
}
.copyIcon{

    position: absolute;
    font-size: 12px;
    top: 10%;
    left: 0;
    
}
.copy{

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    text-align: end;
    font-size: 14px;
}
.copyIconMenu{

    position: absolute;
    font-size: 10px;
    top: 50%;
    left: -8%;
    transform: translate(-50%, -50%);
    display: none;
}
.copyMenu{

    position: absolute;
    font-size: 13px;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.FooterArrowAusen{

    position: absolute;
    top: 630%;
    left: 97.5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: none;
    transform: translate(-50%, -50%);
}
.FooterArrowInnen1{

    position: absolute;
    top: 50%;
    left: 41.5%;
    width: 30px;
    height: 1.5px;
    transform: rotate(45deg);
    background: black;
    border-radius: 100px;
}
.FooterArrowInnen2{

    position: absolute;
    top: 50%;
    left: 0%;
    width: 30px;
    height: 1.5px;
    transform: rotate(135deg);
    background: black;
    border-radius: 100px;
}


                            /*Nav*/


.navbar{

    position: fixed;
    top: 0;
    background: white;
    top: 0;
    width: 100%;
    height: 10%;
    transition: 0.25s;
    z-index: 2;
}
.navbarAni{

    box-shadow: 0px 1px 10px 1px rgb(224, 224, 224);

}
.logoName{

    position:fixed;
    top: 4.5%;
    left: 5%;
    font-size: 25px;
    color: black;
    z-index: 10;
}
ul{

    position: fixed;
    top: 6.6%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 10;
   
 

}
ul li{

    display: inline-block;
    padding-right: 40px;
  
}
ul li a{

    color: black;
    text-decoration: none;
    position: relative;
}
.ul li{

    color: greenyellow;
    
}
ul li a::after{

    content: "";
    position: absolute;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -15.5px;
    transition: 0.3s;

}
ul li a:hover:after{

    width: 100%;
    

}
ul li a:hover{

    color: grey;
}
.contactMenu{

    display: none;
}
.buttonZuKontaktNav a{

    position: absolute;
    width: 190px;
    height: 35px;
    background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
    top: 35%;
    right: 5%;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 2.2;
    font-size: 17px;
    font-weight: bold;
}
.buttonZuKontaktNav a:hover{

    background: linear-gradient(260deg, #c4da00, #a6e200, #25dd00);;
}





                            /*mediaQueryIphone*/



@media screen and (max-width: 430px) {


    body{

        overflow-x: hidden; 
        background: white;
        color: black;
        font-family:'Comfortaa', cursive;
        transition: 0.5s;
        /*font-family: 'Megrim', cursive;*/
    }
    .kreisOben img{

        position: absolute;
        width: 50px;
        top: 11%;
        left: 13%;
        display: none;
    }
    #oben{
    
        position: absolute;
        top: 0;
        width: 1px;
    }
    .willkommen{
    
        position: absolute;
        width: 260px;
        height: 50px;
        top: 23%;
        left: 50%;
        font-size: 15px;
        transform: translate(-50%, -50%);
    }
    .portfolio2{
    
        position: absolute;
        top: 0;
        left: 74%;
        font-size: 16px;
        background: -webkit-linear-gradient(85deg, #e5ff00, #b9fc00, #2afc00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        display: block;
    }
    .mein{
    
        position: absolute;
        width: 100px;
        height: 100px;
        top: 90%;
        left: 30%;
        font-size: 20px;
        transform: translate(-50%, -50%);
    }
    .name{
    
        position: absolute;
        width: 100px;
        height: 100px;
        top: 65%;
        left: 205%;
        font-size: 30px;
        background: -webkit-linear-gradient(40deg, rgba(229, 255, 0), rgba(183, 250, 0), rgba(42, 250, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translate(-50%, -50%);
        display: block;
    }
    .buttonZuKontakt a{
    
        position: absolute;
        width: 210px;
        height: 50px;
        background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
        top: 70%;
        left: 15%;
        border-radius: 50px;
        color: white;
        text-decoration: none;
        text-align: center;
        line-height: 2.5;
        font-size: 20px;
        display: none;
    }
    .buttonZuKontakt a:hover{
    
        background: linear-gradient(260deg, #c4da00, #a6e200, #25dd00);;
    }
    .portfolio{
    
        position: absolute;
        top: 45%;
        right: 0%;
        transform: rotate(270deg);
        font-size: 150px;
        color: rgb(226, 226, 226);
        display: none;
    }
    .foto img{

        position: absolute;
        width: 235px;
        right: 0%;
        top: 10%;
        
        
    }
    .profil{
    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 250px;
        background-color: rgb(250, 250, 250);
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid rgb(255, 255, 255);
    }
    .mouseStrich{
    
        position: absolute;
        width: 1px;
        height: 130px;
        background: #ffffff;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
    .mouseStrichAni{
    
        position: absolute;
        width: 100%;
        height: 450%;
        background: #9c9c9c;
        animation: mouseFrame 2.2s ease-out infinite;
    
    }
    @keyframes mouseFrame{
    
        0%{
            top: -450%;
    
        }
        100%{
            top: 300%;
            
        }
    }
    
    
                                /*überMich*/
    
    
    #uberMichLink{
    
        position: absolute;
        width: 1px;
        top: 105%;
    }
    .grauerKasten{
    
        position: absolute;
        top: 115%;
        background: rgb(245, 245, 245);
        width: 100%;
        height: 80%;
    }
    .uberMich{
    
        position: absolute;
        top: 126%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        font-weight: bold;
    }
    .uberMich2{
    
        position: absolute;
        top: 125%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        width: 100%;
        text-align: center;
    }
    .uberMichT{
    
        position: absolute;
        width: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 160%;
        color: rgb(146, 146, 146);
        line-height: 1.4;
        text-align: center;
    }
    .strichUber{
    
        position: absolute;
        width: 0px;
        height: 1.5px;
        background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
        top: 190%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }
    .strichUberAni{

        width: 170px;
    
    }
    
    
                                /*Lebenslauf*/
    
    
    #lebenslaufLink{
    
        position: absolute;
        width: 1px;
        top: 195%;
    }
    .lebenslauf{
    
        position: absolute;
        top: 215%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        font-weight: bold;
    }
    .lebenslauf2{
    
        position: absolute;
        top: 214%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        font-weight: bold;
        color: rgb(240, 240, 240);
    }
    .schule0{
    
        position: absolute;
        top: 230%;
        left: 50%;
        background: none;
        width: 180px;
        height: 25px;
        transform: translate(-50%, -50%);
    
    }
    .schuleIcon{
    
        position: absolute;
        top: 0;
        left: 0;
        font-size: 25px;
        color:#caff3a;
        cursor: pointer;
    
    }
    .schule{
    
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        color: #caff3a;
        border: none;
        font-family:'Comfortaa', cursive;
        background: none;
        cursor: pointer;
        line-height: 1.5;
        background: none;
        width: 200px;
        text-align: end;
    
    }
    .oder{

        position: absolute;
        top: 237%;
        font-size: 20px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .beruf0{
    
        position: absolute;
        top: 243%;
        left: 50%;
        background: none;
        width: 205px;
        height: 25px;
        transform: translate(-50%, -50%);
    
    }
    .berufIcon{
    
        position: absolute;
        top: 0;
        left: 0;
        font-size: 23px;
        color: rgb(212, 212, 212);
        cursor: pointer;
    }
    .beruf{
    
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        color: gray;
        border: none;
        background: none;
        font-family:'Comfortaa', cursive;
        cursor: pointer;
        line-height: 1.5;
        width: 230px;
        text-align: end;
    }
    button.selected{  
        
        background: -webkit-linear-gradient(250deg, #e5ff00, #b9fc00, #2afc00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
    }
    .schulbildungbox{
    
        position: absolute;
        top: 285%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 335px;
      
    }
    .baum{
    
        position: absolute;
        top: 290%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95px;
        height: 400px;
        background: none;
    
    }
    .zielstatt{
    
        position: absolute;
        width: 200px;
        left: 20%;
        font-weight: bold;
        transition: 0.5s;
        font-size: 14px;
    }
    .kalender1{
    
        position: absolute;
        top: 15%;
        left: 25%;
        color: rgb(212, 212, 212);
    }
    .jahr1{
    
        position: absolute;
        top: 16%;
        left: 28.5%;
        font-size: 12px;
        color: rgb(196, 196, 196);
        width: 125px;
        height: 20px;
        background: white;
    }
    .jahr1beruf{
    
        position: absolute;
        top: 16%;
        left: 28.5%;
        font-size: 12px;
        color: rgb(196, 196, 196);
        text-decoration: none;

    
    
    
    }
    .samberger{
    
        position: absolute;
        width: 150px;
        right: 15%;
        top: 19%;
        font-weight: bold;
        font-size: 14px;
    }
    .kalender2{
    
        position: absolute;
        top: 34%;
        right: 35%;
        color: rgb(212, 212, 212);

    }
    .jahr2{
    
        position: absolute;
        top: 35%;
        right: 17%;
        font-size: 14px;
        color: rgb(196, 196, 196);
        width: 100px;
        height: 20px;
        background: white;
        font-size: 12px;
    }
    .jahr2beruf{
    
        position: absolute;
        top: 35%;
        right: 24%;
        font-size: 14px;
        color: rgb(196, 196, 196);
        font-size: 12px;
    
    
    
    }
    .weis{
    
        position: absolute;
        width: 100px;
        height: 20px;
        background: white;
        top: 56%;
        right: 15%;
    }
    .mariaProbst{
    
        position: absolute;
        width: 150px;
        left: 25%;
        top: 41%;
        font-weight: bold;
        font-size: 14px;
    }
    .kalender3{
    
        position: absolute;
        top: 54%;
        left: 26%;
        color: rgb(212, 212, 212);

    }
    .jahr3{
    
        position: absolute;
        top: 55%;
        left: 30%;
        font-size: 12px;
        color: rgb(196, 196, 196);

    }
    .boschetsrieder{
    
        position: absolute;
        width: 150px;
        right: 15%;
        top: 62%;
        font-weight: bold;
        font-size: 14px;
    }
    .kalender4{
    
        position: absolute;
        top: 75%;
        right: 35%;
        color: rgb(212, 212, 212);
    }
    .jahr4{
    
        position: absolute;
        top: 76%;
        right: 23%;
        font-size: 12px;
        color: rgb(196, 196, 196);

    }
    
    .strich1{
    
        position: absolute;
        width: 100px;
        height: 3px;
        background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
        top: 10%;
        left: 0%;
        transform: rotate(45deg);
        border-radius: 20px;
    }
    .strich2{
    
        position: absolute;
        width: 100px;
        height: 3px;
        background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
        top: 27%;
        left: 0%;
        transform: rotate(-45deg);
        border-radius: 20px;
    }
    .strich3{
    
        position: absolute;
        width: 100px;
        height: 3px;
        background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
        top: 45%;
        left: 0%;
        transform: rotate(45deg);
        border-radius: 20px;
    }
    .kreis1{
    
        position: absolute;
        top: 0%;
        left: 5%;
        background: #2afc00;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    .kreis2{
    
        position: absolute;
        top: 16.5%;
        right: 0%;
        background: #e5ff00;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    .kreis3{
    
        position: absolute;
        top: 34.5%;
        left: 5%;
        background: #2afc00;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    .kreis4{
    
        position: absolute;
        top: 52%;
        right: 0%;
        background: #e5ff00;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
  
    .kenntnisseGrau{

        position: absolute;
        width: 100%;
        height: 120%;
        background: rgb(245, 245, 245);
        top: 310%;
    }
    .edvKasten{

        position: absolute;
        width: 320px;
        height: 320px;
        top: 350%;
        background: none;
        left: 50%;
        transform: translate(-50%, -50%);
        background:  none;
    }
    .msOfficeKasten{

        position: absolute;
        left: 0;
        top: 0;
        width: 150px;
        height: 150px;
        background: white;
        border-radius: 25px;
        border: 1px solid rgb(231, 231, 231);
        
    }

    .htmlKasten{

        position: absolute;
        left: 53%;
        top: 0;
        width: 150px;
        height: 150px;
        background: white;
        border-radius: 25px;
        transition: 0.5s;
        overflow: hidden;
    }

    .cssKasten{

        position: absolute;
        right: 0;
        top: 55%;
        width: 150px;
        height: 150px;
        background: white;
        border-radius: 25px;
        border: 1px solid rgb(231, 231, 231);
    }
    
    .javaKasten{

        position: absolute;
        left: 0;
        top: 55%;
        width: 150px;
        height: 150px;
        background: white;
        border-radius: 25px;
        overflow: hidden;
    }
    .sprachen{

        position: absolute;
        width: 85%;
        height: 30%;
        top: 410%;
        background: none;
        left: 50%;
        transform: translate(-50%, -50%);
     
    
    }
    .englisch{
    
        position: absolute;
        left: 0;
        top: 5%;
    
    }
    .englischBalken{
    
        position: absolute;
        top: 0%;
        width: 0%;
        height: 3px;
        background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
        left: 0%;
        border-radius: 200px;
        transition: 0.7s;
    }
    .englischBalkenAni{
    
        width: 35%;
    
    }
    .englischKenntnisse{
    
        position: absolute;
        right: 0%;
        top: 5%;
    
    }
    .deutsch{
    
        position: absolute;
        left: 0;
        top: 40%;
    
    }
    .deutschBalken{
    
        position: absolute;
        top: 35%;
        width: 0%;
        height: 3px;
        background:linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
        left: 0%;
        border-radius: 200px;
        transition: 0.7s;
    }
    .deutschBalkenAni{
    
        width: 100%;
    }
    .deutschKenntnisse{
    
        position: absolute;
        right: 0%;
        top: 40%;
    
    }
    .türkisch{
    
        position: absolute;
        left: 0;
        top: 75%;
    
    }
    .türkischBalken{
    
        position: absolute;
        top: 70%;
        width: 0%;
        height: 3px;
        background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
        left: 0%;
        border-radius: 200px;
        transition: 0.7s;
    }
    .türkischBalkenAni{
    
        width: 65%;
    }
    .türkischKenntnisse{
    
        position: absolute;
        right: 0%;
        top: 75%;
    
    }

                                /*Anschreiben*/
    
    
    #anschreibenLink{
    
        position: absolute;
        width: 1px;
        top: 430%;
    }
    .anschreiben{
    
        position: absolute;
        top: 450%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        font-weight: bold;

    }
    .anschreiben2{
    
        position: absolute;
        top: 449%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 55px;
        font-weight: bold;
        color: rgb(240, 240, 240);
        width: 100%;
        text-align: center;
    }
    .anschreibenText{
    
        position: absolute;
        width: 80%;
        top: 540%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:rgb(146, 146, 146);
        line-height: 1.4;
    }
                                /*Contact*/
    #contactLink{
    
        position: absolute;
        width: 1px;
        top: 420%;
    }
    .contact{
    
        position: absolute;
        top: 635%;
        width: 100%;
        height: 800px;
        background: none;
    }
    .kontaktierMich{
    
        position: absolute;
        top: 0.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }
    .kontaktierMich2{
    
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 42px;
        font-weight: bold;
        color: rgb(240, 240, 240);
        width: 100%;
        text-align: center;
    }
    .tel{
    
        position: absolute;
        top: 17%;
        left: 50%;
        color: rgb(146, 146, 146);
        transform: translate(-50%, -50%);
    
    }
    .telefon{
    
        position: absolute;
        top: 12%;
        left: 50%;
        font-weight: bold;
        width: 110px;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .mail{
    
        position: absolute;
        top: 30%;
        left: 50%;
        color: rgb(146, 146, 146);
        transform: translate(-50%, -50%);
    }
    .email{
    
        position: absolute;
        top: 25%;
        left: 50%;
        font-weight: bold;
        width: 180px;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .ort{
    
        position: absolute;
        top: 38%;
        left: 50%;
        font-weight: bold;
        width: 80px;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .muc{
    
        position: absolute;
        top: 43%;
        left: 50%;
        color: rgb(146, 146, 146);
        transform: translate(-50%, -50%);
    }
    .nameC{
    
        position: absolute;
        top: 53%;
        left: 29%;
        border: none;
        background:rgb(240, 240, 240);
        width: 135px;
        height: 30px;
        padding-left: 10px;
        border-radius: 8px;
        outline: none;
        transform: translate(-50%, -50%);
    }
    .vornameC{
    
        position: absolute;
        top: 53%;
        left: 71%;
        border: none;
        background:rgb(240, 240, 240);
        width: 135px;
        height: 30px;
        padding-left: 10px;
        border-radius: 8px;
        outline: none;
        transform: translate(-50%, -50%);
    }
    .firmaC{
    
        position: absolute;
        top: 59.5%;
        left: 50%;
        border: none;
        background:rgb(240, 240, 240);
        width: 300px;
        height: 30px;
        padding-left: 10px;
        border-radius: 8px;
        outline: none;
        transform: translate(-50%, -50%);
    }
    .nachrichtC{
    
        position: absolute;
        top: 70%;
        left: 50%;
        border: none;
        background:rgb(240, 240, 240);
        width: 300px;
        height: 100px;
        padding-left: 10px;
        border-radius: 8px;
        outline: none;
        transform: translate(-50%, -50%);
    }
    .senden{
    
        position: absolute;
        width: 200px;
        height: 50px;
        background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
        border-radius: 50px;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-align: center;
        line-height: 2.5;
        color: white;
        text-decoration: none;
    
    }
    
    
                                /*Footer*/
    
    
    .footer{
    
        position: absolute;
        width: 100%;
        height: 300px;
        background: none;
        top: 760%;
    }
    .footerRand{
    
        position: absolute;
        width: 85%;
        height: 300px;
        background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
        top: 760%;
        border-top-right-radius: 50px;
    }
    .logoNameFooter{
    
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    .linkedIn{
    
        position: absolute;
        font-size: 25px;
        top: 45%;
        left: 42%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: 0.15s;
    }
    .linkedIn:hover{
    
        color: white;
    }
    .github{
    
        position: absolute;
        font-size: 25px;
        top: 45%;
        left: 58%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: 0.15s;
    }
    .github:hover{
    
        color: white;
    }
    .copyIcon{
    
        position: absolute;
        font-size: 10px;
        top: 50%;
        left: 14%;
        transform: translate(-50%, -50%);

    }
    .copy{
    
        position: absolute;
        top: 88%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        text-align: center;
        font-size: 13px;
    }
    .FooterArrowAusen{
    
        position: absolute;
        top: 795%;
        left: 93%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: none;
        transform: translate(-50%, -50%);
    }
    .FooterArrowInnen1{
    
        position: absolute;
        top: 50%;
        left: 34.5%;
        width: 25px;
        height: 1.5px;
        transform: rotate(45deg);
        background: black;
        border-radius: 100px;
    }
    .FooterArrowInnen2{
    
        position: absolute;
        top: 50%;
        left: 0%;
        width: 25px;
        height: 1.5px;
        transform: rotate(135deg);
        background: black;
        border-radius: 100px;
    }
    
    
                                /*Nav*/
    
    .navbar{

        display: none;
    }
    .logoName{
    
        position:fixed;
        top: 5%;
        left: 5%;
        font-size: 25px;
        color: black;
    }
    ul{
    
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    
    }
    ul li{
    
        display: flex;
        padding-bottom: 40px;
        padding-right: 0;
    }
    ul li a{
    
        color: black;
        text-decoration: none;
        position: relative;
        text-align: center;
        width: 100%;
        font-size: 20px;
    }
    .contactMenu{

        position: absolute;
        display: flex;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 60px;
    }
    .menuStrich1{

        position: fixed;
        width: 30px;
        height: 2px;
        top: 6%;
        right: 9.5%;
        background: white;
        transition: 0.35s;
        border-radius: 100px;
    }
    .menuStrich1Ani{

        transform: rotate(-45deg);
        top: 6.5%;
    }
    .menuStrich2{

        position: fixed;
        width: 30px;
        height: 2px;
        top: 7%;
        right: 9.5%;
        background: white;
        transition: 0.35s;
        border-radius: 100px;
    }
    .menuStrich2Ani{

        transform: rotate(45deg);
        top: 6.5%;
    }
    .menuGrey{

        position: fixed;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgba(207, 207, 207, 0.3);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        top: 3%;
        right: 7%;
        
    }
    .menuGreyAni{

        background: rgba(240, 240, 240, 0.3);

    }
    .menu2{

        position: fixed;
        width: 120px;
        height: 100px;
        background: none;
        right: 6%;
        
    }
   
    .menu{

        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(110, 110, 110, 0.3);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        top: -100%;
        transition: 0.5s;
        opacity: 0;

    }
    .menuAni{

        opacity: 1;
        top: 0;

    }
    .strichMenu{

        position: absolute;
        width: 80%;
        height: 1px;
        background: white;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .githubMenu{

        position: absolute;
        font-size: 25px;
        top: 90%;
        left: 58%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: 0.15s;
    }
    .linkedInMenu{

        position: absolute;
        font-size: 25px;
        top: 90%;
        left: 42%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: 0.15s;
    }
    .copyMenu{

        position: absolute;
        font-size: 13px;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
    }
    .copyIconMenu{

        position: absolute;
        font-size: 10px;
        top: 50%;
        left: -8%;
        transform: translate(-50%, -50%);
        display: flex;
    }
    .buttonZuKontaktNav a{

        position: absolute;
        width: 190px;
        height: 35px;
        background: linear-gradient(260deg, #e5ff00, #b9fc00, #2afc00);
        top: 35%;
        right: 5%;
        border-radius: 50px;
        color: white;
        text-decoration: none;
        text-align: center;
        line-height: 2.2;
        font-size: 17px;
        font-weight: bold;
        display: none;
    }

}